url: "http://sjackman.ca"
baseurl: ""
title: "@sjackman"
description: "PhD candidate in bioinformatics, programmer, engineer"
avatar: "/img/shaun-jackman-square.jpg"

navbar-links:
  Projects:
    - ABySS: "https://github.com/bcgsc/abyss"
    - Brewsci: "https://github.com/brewsci/homebrew-bio"
    - Linuxbrew: "http://linuxbrew.sh"
    - Tigmint: "https://bcgsc.github.io/tigmint/"
    - UniqTag: "https://github.com/sjackman/uniqtag"
  Portfolio:
    - Code: "https://github.com/sjackman"
    - Papers: "http://scholar.google.ca/citations?user=wFl3qXAAAAAJ"
    - Posters & Slides: "portfolio"
  Activity:
    - GitHub: "https://github.com/sjackman"
    - Twitter: "http://twitter.com/sjackman"
    - Google Scholar: "http://scholar.google.ca/citations?user=wFl3qXAAAAAJ"
    - Impactstory: "https://impactstory.org/u/0000-0002-9275-5966"
    - Resume: "http://sjackman.ca/resume"
    - LinkedIn: "http://www.linkedin.com/in/sjackman"
  About Me: "about-me"

author:
  name: "Shaun Jackman"
  email: "sjackman@gmail.com"
  github: "sjackman"
  googlescholar: "wFl3qXAAAAAJ"
  impactstory: "0000-0002-9275-5966"
  linkedin: "in/sjackman"
  twitter: "sjackman"

footer-links-active:
  email: true
  github: true
  googlescholar: true
  impactstory: true
  linkedin: true
  twitter: true
  facebook: false
  rss: false
  stackoverflow: false

url-pretty: "sjackman.ca"
#disqus: ""
google_analytics: "UA-2437900-4"

timezone: "America/Vancouver"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 99

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Exclude these files from production site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
  - Vagrantfile

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."
